@font-face {
    font-family: 'Lato-Regular';
    src: url('../font/Lato/Lato-Regular.ttf');
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('../font/Lato/Lato-Bold.ttf');
}

body {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    max-width: 1441px;
}
* {
    font-family: 'Lato-Regular', Arial, Helvetica, sans-serif;
}
/* -------------- HEADER Desktop -------------------- */

header {
    text-align: center;
}
.logo {
    width: 25%;
}
.searchBar__form {
    position: relative;
}
.searchBar__input {
    width: 90%;
    height: 3.5em;
    border: none;
    border-radius: 5px;
    background-color: #E7E7E7;
    padding-left: 20px;
    font-size: 18px;
}
.searchBar__submit {
    position: absolute;
    border: none;
    font-size: 1.5em;
    background: unset;
    right: 5%;
    bottom: 50%;
    transform: translate(-5%, 50%);
}


/* --------------------- MAIN Desktop ---------------------- */
/* ------------------- Recherche et filtre ------------------ */
#filterSearch {
    display: flex;
    margin: 2% 4.2% 6%;
    gap: 20px;
}

.filterSearch__ingredients, 
.filterSearch__appareils, 
.filterSearch__ustencils {
    position: relative;
    width: 15%;
    max-width: 50%;
    height: 3.9em;
    max-height: 28em;
    z-index: 1;
    overflow: hidden;
}
.open {
    width: auto;
    min-width: 15%;
    height: auto;
    min-height: max-content;
    margin-bottom: 60px;
    overflow: auto;
}
.filterSearch__ingredients {
    background-color: #3282F7;
    border-radius: 5px;
}
.filterSearch__appareils {
    background-color: #68D9A4;
    border-radius: 5px;
}
.filterSearch__ustencils {
    background-color: #ED6454;
    border-radius: 5px;
}
#ingredients {
    position: sticky;
    width: 70%;
    top: 10px;
    padding: 10px 0 10px 15px;
    font-size: 18px;
    color: #FFFFFF;
    background: #3282F7;
    border: #3282F7;
    overflow: hidden;
    outline: none;
    z-index: 10;
} 

#appareils, #ustencils {
    position: absolute;
    width: 70%;
    top: 10px;
    padding: 10px 0 10px 15px;
    font-size: 18px;
    color: #FFFFFF;
    background: transparent;
    border: none;
    outline: none;
}
#ingredients::placeholder, 
#appareils::placeholder, 
#ustencils::placeholder {
    color: #FFFFFF;
    opacity: .6;
}

.triDown {
    position: absolute;
    right: 15px;
    top: 23px;
    color: white;
    cursor: pointer;
    z-index: 1;
}
.active {
    transform: rotate(-180deg);
    top: 20px;
}
.filterSearch__ingredients--container {
    position: relative;
    width: auto;
    height: auto;
    top: 5px;
    font-size: .8em;
    padding-left: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.filterSearch__appareils--container,
.filterSearch__ustencils--container {
    position: relative;
    width: auto;
    height: auto;
    top: 40px;
    font-size: .8em;
    padding-left: 15px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.filterSearch__ingredients--p,
.filterSearch__appareils--p, 
.filterSearch__ustencils--p {
    display: inline-block;
    width: 30%;
    margin: 20px 0 0 0;
    color: #FFFFFF;
    cursor: pointer;
}
#saveSearch__filters {
    display: flex;
    align-items: center;
}
.filterSearch__ingredientsSave--container {
    position: relative;
    display: inline-block;
    align-items: center;
    width: max-content;
    left: 4%;
    top: 20px;
    background-color: #3282F7;
    margin: 15px 10px 5px 0;
    border-radius: 5px;
}
.filterSearch__ingredients--save {
    display: inline-block;
    height: 30px;
    padding: 6px 35px 0 10px;
    margin: 0;
    color: #FFFFFF;
}
.fa-circle-xmark {
    position: absolute;
    right: 10px;
    top: 45%;
    transform: translateY(-50%);
}
.filterSearch__appareilsSave--container {
    position: relative;
    display: inline-block;
    align-items: center;
    width: max-content;
    left: 4%;
    top: 20px;
    background-color: #68D9A4;
    margin: 15px 10px 5px 0;
    border-radius: 5px;
}
.filterSearch__appareil--save {
    display: inline-block;
    height: 30px;
    padding: 6px 35px 0 10px;
    margin: 0;
    color: #FFFFFF;
}

.filterSearch__ustensilsSave--container {
    position: relative;
    display: inline-block;
    align-items: center;
    width: max-content;
    left: 4%;
    top: 20px;
    background-color: #ED6454;
    margin: 15px 10px 5px 0;
    border-radius: 5px;
}
.filterSearch__ustensil--save {
    display: inline-block;
    height: 30px;
    padding: 6px 35px 0 10px;
    margin: 0;
    color: #FFFFFF;
}


/* --------------------- Recette Affichage ---------------------  */
#recipesDisplay {
    position: absolute;
    width: 92%;
    max-width: 1320px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    top: 350px;
    left: 50%;
    z-index: 0;
    transform: translateX(-50%);
}
@media screen and (min-width: 1200px){
    #recipesDisplay {
        top: 380px;
    }
}
.recipesDisplay__article {
    width: 100%;
    min-height: 20em;
    background-color: #E7E7E7;
    border-radius: 5px;
}
.recipesDisplay__article--image {
    width: 100%;
    height: 48%;
    border-radius: 5px 5px 0 0;
    background: #C7BEBE;
}
.recipesDisplay__article--textZone {
    padding: 0 10px;
    position: relative;
}
.recipesDisplay__article--title {
    width: 80%;
    font-size: 1em;
    margin-bottom: 10px;
}
.recipesDisplay__article--blocTime {
    position: absolute;
    right: 10px;
    top: 0;
}
.recipesDisplay__article--blocRecipe {
    display: flex;
    height: 36%;
}
.recipesDisplay__article--ingredients {
    width: 60%;
    height: 100%;
    font-size: 1em;
}
.recipesDisplay__article--description {
    width: 40%;
    height: 100%;
    font-size: 1.2em;
    padding-right: 10px;
}
.listIngredients {
    margin: 0;
    padding: 0 8px;
}
.ingredient {
    list-style-type: none;
}
.ingredient > p {
    font-size: .7em;
    margin: 0;
}
.ingredientTitle {
    font-family: 'Lato-Bold';
    font-size: .9em;
}

.recipesDisplay__article--textDescription {
    font-size: .5em;
    margin-top: 0;
    text-align: left;
    height: 8.5em;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: ellipsis;
}
